# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class



# IDE - VSCode
.vscode/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env

# compiled output
ui/dist

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
