<html>

<head>
	<!-- DevExtreme themes -->
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.1.6/css/dx.common.css" />
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.1.6/css/dx.light.css" />


</head>

<body>
	<p>ola mundo sem react</p>
	<div id="app">
	</div>
	{% if debug %}
	<script src="http://localhost:8080/bundle.js"></script>
	{% else %}
	<script src="http://localhost:5000/dist/bundle.js"></script>
	{% endif %}
</body>

</html>
